{{> guest-header}}
{{> admin-header}}
<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="header-bar">Admin Overview</h1>
                    <h2 class="header-bar">Users</h2>
                    <p><a href="/admin/userlist">User List</a></p>
                    <h2 class="header-bar">Bookings for {{start}} - {{end}}</h2>
                    {{#each bookings}}
                        <h3 class="header-bar">{{date}}</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Guest</th>
                                    <th>Room</th>
                                    <th>Cat</th>
                                    <th>Hot Dogs</th>
                                    <th>Pancakes</th>
                                    <th>Dance Classes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each bookings}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{room}}</td>
                                        <td>{{cat}}</td>
                                        <td>{{hotDogs}}</td>
                                        <td>{{pancakes}}</td>
                                        <td>{{classes}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table> 
                    {{/each}}        
                </div>
            </div>
        </div>
    </div>
</main>